<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.seckill.dao.CommandContentMapper">
    <resultMap id="BaseResultMap" type="org.seckill.entity.CommandContent">
        <constructor>
            <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="content" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="command_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
        id, content, command_id
    </sql>
    <insert id="insertCommandContent" parameterType="java.util.List">
        insert into command_content (content, command_id)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.content,jdbcType=VARCHAR},
            #{item.commandId,jdbcType=INTEGER} )
        </foreach>

    </insert>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from command_content
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        DELETE FROM command_content
        WHERE id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="org.seckill.entity.CommandContent">
        INSERT INTO command_content (id, content, command_id
        )
        VALUES (#{id,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, #{commandId,jdbcType=INTEGER}
        )
    </insert>
    <insert id="insertSelective" parameterType="org.seckill.entity.CommandContent">
        insert into command_content
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="commandId != null">
                command_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="content != null">
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="commandId != null">
                #{commandId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="org.seckill.entity.CommandContent">
        update command_content
        <set>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="commandId != null">
                command_id = #{commandId,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="org.seckill.entity.CommandContent">
        UPDATE command_content
        SET content    = #{content,jdbcType=VARCHAR},
            command_id = #{commandId,jdbcType=INTEGER}
        WHERE id = #{id,jdbcType=INTEGER}
    </update>
</mapper>