<?xml version="1.0" encoding="UTF-8" ?>
    <!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lv.mapper.MessageMapper">
<select id="findAll" resultType="com.lv.model.Message" parameterType="java.lang.String">
    SELECT
    id,
    command,
    content,
    description
    FROM message
    <where>
        <if test="command!=null and command!=''">
            AND  command LIKE CONCAT('%',#{command},'%')
        </if>
        <if test="description!=null and description!=''">
            AND   description LIKE CONCAT('%',#{description},'%')
        </if>
    </where>
</select>
</mapper>