<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>内容列表页面</title>
    <link href="/css/all.css" rel="stylesheet" type="text/css"/>
    <script src="/js/vue.min.js"></script>
    <script src="/js/jquery-1.8.0.min.js"></script>
    <style>
        .test {
            background-color: #ECF6EE;
        }
    </style>
</head>
<body style="background: #e1e9eb;">
<!--		<form action="" id="mainForm" method="post">-->
<div class="right" id="app">
    <div class="current">当前位置：<a href="javascript:void(0)" style="color:#6E6E6E;">内容管理</a> &gt; 内容列表
    </div>
    <div class="rightCont">
        <p class="g_title fix">内容列表 <a class="btn03" href="#">新 增</a>&nbsp;&nbsp;&nbsp;&nbsp;<a
                class="btn03" href="#" onclick="dodeleteBatch()">删 除</a></p>
        <table class="tab1">
            <tbody>
            <tr>
                <td width="90" align="right">指令名称：</td>
                <td>
                    <input type="text" class="allInput" value="" v-model="param.command"/>
                </td>
                <td width="90" align="right">描述：</td>
                <td>
                    <input type="text" class="allInput" value="" v-model="param.description"/>
                </td>
                <td width="85" align="right"><input type="button" class="tabSub"
                                                    v-on:click="doSerch" value="查 询"/></td>
            </tr>
            </tbody>
        </table>
        <div class="zixun fix">
            <table class="tab2" width="100%">
                <tbody>
                <tr>
                    <th width="20px"><input type="checkbox" id="all" onclick="" v-model="checkAll"
                                            v-on:change="checkAllChange"/></th>
                    <th width="40px">序号</th>
                    <th width="100px">指令名称</th>
                    <th width="100px">描述</th>
                    <th>内容</th>
                    <th width="160px">操作</th>
                </tr>
                <tr v-for="(message,index) in  pager.list" :class="{test:(index+1)%2==0}">
                    <td><input type="checkbox" v-text="message.id" v-model="bos"
                               :value="message.id"/></td>
                    <td><span v-text="index+1"></span></td>
                    <td><span v-text="message.command"></span></td>
                    <td><span v-text="message.description"></span></td>
                    <td><span v-text="message.content"></span></td>
                    <td>
                        <a href="#">修改</a>&nbsp;&nbsp;&nbsp;
                        <a href="#" @click="deleteMessage(message.id)">删除</a>
                    </td>
                </tr>

                </tbody>
            </table>
            <div class='page fix'>
                共 <b><span v-text="pager.total"></span></b> 条
                <a href='###' class='first'>首页</a>
                <a href='###' class='pre'>上一页</a>
                当前第<span v-text="pager.pageNum +'/'+ pager.pages"></span>页
                <a href='###' class='next'>下一页</a>
                <a href='###' class='last'>末页</a>
                跳至&nbsp;<input type='text' value='1' class='allInput w28'/>&nbsp;页&nbsp;
                <a href='###' class='go'>GO</a>
            </div>
        </div>
    </div>
</div>
<!-- </form>-->
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            pager:{},
            bos: [],
            checkAll: false,
            param: {
                command:"",
                description:"",
                pageNo:1
            }
        },
        methods: {
            checkAllChange: function () {
                var that = this;
                if (this.checkAll) {
                    this.pager.list.forEach(function (value) {
                        that.bos.push(value.id)
                    })
                } else {
                    that.bos = []
                }
            },
            doSerch: function () {
                this.param.pageNo = 1;
                http(this.param);
            },
            deleteMessage:function(id){
                doDel(id)
            }
        },
        created: function () {
            http(this.param);
        }
    });
    function http(param) {

        $.ajax({
            url: '/chat/loadDatas',
            type: 'GET', //GET
            async: true,    //或false,是否异步
            timeout: 5000,    //超时时间
            dataType: 'json',
            contentType: 'application/json;charset=UTF-8',
            data:param,
            beforeSend: function (xhr) {
                console.log(xhr);
                console.log('发送前');
            },
            success: function (data, textStatus, jqXHR) {
                if (data.code === 200) {
                    app.$data.param.pageNo ++;
                    app.$data.pager = data.data;
                    console.log(data);
                    console.log(textStatus);
                } else {
                    console.log("请求失败了");
                }

            },
            error: function (xhr, textStatus) {
                console.log('错误');
                console.log(xhr);
                console.log(textStatus);
            },
            complete: function () {
                console.log('结束');
            }
        })
    }
    function doDel(idp){
        $.ajax({
            url: '/chat/deleteOne',
            type: 'POST', //GET
            async: true,    //或false,是否异步
            timeout: 5000,    //超时时间
            dataType: 'json',
            contentType: 'application/json;charset=UTF-8',
            data:JSON.stringify({
                id:idp
            }),
            beforeSend: function (xhr) {
                console.log(xhr);
                console.log('发送前');
            },
            success: function (data, textStatus, jqXHR) {
                if (data.code === 200) {
                    app.$data.param.pageNo ++;
                    app.$data.pager = data.data;
                    window.location.reload();
                } else {
                    console.log("请求失败了");
                }

            },
            error: function (xhr, textStatus) {
                console.log('错误');
                console.log(xhr);
                console.log(textStatus);
            },
            complete: function () {
                console.log('结束');
            }
        })
    }
    function dodeleteBatch(){
        $.ajax({
            url: '/chat/deleteBatch',
            type: 'POST', //GET
            async: true,    //或false,是否异步
            timeout: 5000,    //超时时间
            dataType: 'json',
            contentType: 'application/json;charset=UTF-8',
            data:JSON.stringify(app.bos),
            beforeSend: function (xhr) {
                console.log(xhr);
                console.log('发送前');
            },
            success: function (data, textStatus, jqXHR) {
                if (data.code === 200) {
                    app.$data.param.pageNo ++;
                    app.$data.pager = data.data;
                    window.location.reload();
                } else {
                    console.log("请求失败了");
                }

            },
            error: function (xhr, textStatus) {
                console.log('错误');
                console.log(xhr);
                console.log(textStatus);
            },
            complete: function () {
                console.log('结束');
            }
        })
    }
</script>
</body>

</html>